<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Todo", root_path, class: "navbar-brand", id: "logo" %>
       <ul class="navbar-nav"> 
          <li class="nav-item"><%= link_to 'Lists', root_path, class: "nav-link" %></li>
        </ul> 
    </div>
  </nav>
</header>